@using BusinessObject.DTO
@model List<ProductDTO>

<div class="chit-chat-layer1">
    <div class="col-md-12">
        <div class="work-progres">
            <div class="chit-chat-heading">
                Product Management
                <div class="btn-group m-r-sm mail-hidden-options" style="display: inline-block;">
                    <div class="btn-group">
                        <a class="btn btn-default" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-folder"></i> <span class="caret"></span></a>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a asp-controller="adminproduct" asp-action="exportExcel" asp-route-searchString=@ViewData["SearchString"] asp-route-startPrice=@ViewData["StartPrice"] asp-route-endPrice=@ViewData["EndPrice"]>Export File Excel</a></li>
                            <li><a>
                                <form asp-action="importExcel" enctype="multipart/form-data" method="post">
                                    <label for="upload-file">Import File Excel</label>
                                    <input type="file" name="file" id="upload-file" onchange="this.form.submit()" />
                                </form>
                            </a></li>
                            <li class="divider"></li>
                            <li><a asp-controller="adminproduct" asp-action="create">New</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <form asp-action="Index" method="get">
                    <div class="form-group">
                        <label for="searchString" class="control-label">Search: </label>
                        <input id="searchString" name="searchString"
                               class="form-control" value="@ViewData["SearchString"]" />
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="startPrice" class="control-label d-inline">Start Price: </label>
                                <input id="startPrice" name="startPrice"
                                       class="form-control" type="number" step="any" value="@ViewData["StartPrice"]" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="endPrice" class="control-label d-inline">End Price: </label>
                                <input id="endPrice" name="endPrice"
                                       class="form-control" type="number" step="any" value="@ViewData["EndPrice"]" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Search" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Picture</th>
                            <th>Product Name</th>
                            <th>Category General</th>
                            <th>Category</th>
                            <th>Description</th>
                            <th>Unit Price</th>
                            <th>Units In Stock</th>
                            <th>Active</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int index = (int)@ViewData["StartIndex"];
                        }
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@index</td> @{
                                    index++;
                                }
                                <td><img style="width:80px;height:100px" src="~/@Html.DisplayFor(modelItem => item.Picture)" /></td>
                                <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                                <td>@Html.DisplayFor(modelItem => item.CategoryGeneral)</td>
                                <td>@Html.DisplayFor(modelItem => item.CategoryName)</td>
                                <td>@Html.DisplayFor(modelItem => item.QuantityPerUnit)</td>
                                <td>@Html.DisplayFor(modelItem => item.UnitPrice)</td>
                                <td>@Html.DisplayFor(modelItem => item.UnitsInStock)</td>
                                @if (item.IsActive == true)
                                {
                                    <td><span class="label label-info">active</span></td>
                                }
                                else
                                {
                                    <td><span class="label label-danger">inactive</span></td>
                                }
                                <td>
                                    <div class="dropdown dropdown-inbox">
                                        <a href="#" title="" class="btn btn-default" data-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-cog icon_8"></i>
                                            <i class="fa fa-chevron-down icon_8"></i>
                                            <div class="ripple-wrapper"></div>
                                        </a>
                                        <ul class="dropdown-menu float-right">
                                            <li>
                                                <a asp-controller="adminproduct" asp-action="edit" asp-route-id="@item.ProductId" title="">
                                                    <i class="fa fa-pencil-square-o icon_9"> </i>
                                                    Edit
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" title="">
                                                    <i class="fa fa-calendar icon_9"> </i>
                                                    Schedule
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" title="">
                                                    <i class="fa fa-download icon_9"> </i>
                                                    Download
                                                </a>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <a asp-controller="adminproduct" asp-action="delete" asp-route-id="@item.ProductId" class="font-red" title="">
                                                    <i class="fa fa-times" icon_9=""> </i>
                                                    Delete
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <span class="text-muted m-r-sm">Showing @ViewData["TotalOnPage"] of @ViewData["Total"] </span>
                <div class="btn-group-page" style="align-items">
                    @if ((int)(ViewData["PageNum"]) > 1)
                    {
                        <a asp-controller="adminproduct" asp-action="index" asp-route-PageNum=@((int)ViewData["PageNum"]-1) asp-route-searchString=@ViewData["SearchString"] asp-route-startPrice=@ViewData["StartPrice"] asp-route-endPrice=@ViewData["EndPrice"] class="btn btn-default"><i class="fa fa-angle-left"></i></a>
                    }
                    @for (var i = 1; i <= (int)(@ViewData["TotalPage"]); i++)
                    {
                        if ((i - (int)@ViewData["PageNum"]) <= 2 && (i - (int)@ViewData["PageNum"]) >= -2)
                        {
                            <a class="btn btn-default" asp-controller="adminproduct" asp-action="index" asp-route-PageNum=@i asp-route-searchString=@ViewData["SearchString"] asp-route-startPrice=@ViewData["StartPrice"] asp-route-endPrice=@ViewData["EndPrice"] style=@((int)(ViewData["PageNum"])==@i ? "background-color: #5BC0DE" : "")>@i</a>
                        }
                    }
                    @if ((int)ViewData["PageNum"] < (int)ViewData["TotalPage"])
                    {
                        <a asp-controller="adminproduct" asp-action="index" asp-route-PageNum=@((int)ViewData["PageNum"]+1) asp-route-searchString=@ViewData["SearchString"] asp-route-startPrice=@ViewData["StartPrice"] asp-route-endPrice=@ViewData["EndPrice"] class="btn btn-default"><i class="fa fa-angle-right"></i></a>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>